
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <label>First Name</label>
    <input type="text" name="firstName" id="firstName" />
</div>
<br />
<div>
    <label>Last Name</label>
    <input type="text" name="lastName" id="lastName" />
</div>

